spring:
  application:
    name: shuttle

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    open-in-view: false

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000
